{% extends "AppBundle::layout.html.twig" %}

{% block breadcrumb %}
<ul class="breadcrumbs">
    <li><a href="{{ path("homepage") }}">Home</a></li>
    <li><a href="{{ path("manager") }}">Manager</a></li>
    <li class="current"><a href="{{ path("manager_client") }}">Clients</a></li>
</ul>
{% endblock %}

{% block body %}
<p>
    Go to: <br>
    <ul>
        <li><a href="{{ path("manager_public_clients") }}">Public Clients</a></li>
        <li><a href="{{ path("manager_password_clients") }}">Password Clients</a></li>
    </ul>
</p>
{% endblock %}
